.body {
  background: linear-gradient(to bottom, #008000, #12cb50);
  height: 100vh;
  margin: 0;
  display: flex;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 190%;
  height: 30%;
  background: white;
  clip-path: path("M0,100 C150,200 350,0 500,100 C650,200 850,0 1000,100 C1150,200 1350,0 1500,100 L1500,300 L0,300 Z");
}


.home {
  color: whitesmoke;
  font-size: x-large;
  margin-top: 15px;
  margin-left: 15px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.homeContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 300px;
  margin-left: 10%;
  margin-top: 7%;
}
.textHome {
  font-size: medium;
  margin-top: 20%;
  font-family: "Kanit", sans-serif;
  color: whitesmoke;
}
/* Carousel Container */
.carousel {
  width: 350px;
  height: 350px;
  margin: 20px auto; /* Center the carousel */
  overflow: hidden;
}

/* Image Styling */
.carousel-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Smooth fade effect */
}

/* Active Image (Visible One) */
.carousel-img.active {
  opacity: 1;
}