* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    position: fixed;
    padding: 10px 20px;
    padding-left: 77%;
    font-family: "Tektur", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 18px;
  }
  
  .nav-list a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    text-shadow: 0 0 3px #00ff00, 0 0 20px #03ae4d;
  }
  